<!-- Footer Links -->
<div class="container-fluid text-center text-md-left bg-navbar-light">
      
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Noobi</h5>
        <p>Since 2020, Noobi has been one of the best sources for cheat codes, codes, guides, hints, game reviews, and tips for PS4, Xbox One, PS5, Xbox Series X, PC, iPhone and more. To find all the latest cheat codes, guides, hints and tips visit Noobi first.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Trophies & Achievemnts Guides </a>
          </li>
          <li>
            <a href="#!">Cheat Codes</a>
          </li>
          <li>
            <a href="#!">Games by Platform</a>
          </li>
          <li>
            <a href="#!">Game Reviews</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Noobi &trade;
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->